<!DOCTYPE html>
<html>
	<head>
		<title>A Fresh Perk App</title>
		<link rel="stylesheet" href="<%= env === 'development' ? '/styles/main.scss.css' : '/styles/main.scss.min.css?'+version %>" />

	</head>
	<body>
		<h1>Six Degrees</h1>
		<p>Airedale camembert de normandie halloumi. Fromage frais babybel the big cheese everyone loves manchego cheese and wine feta fromage frais. Stilton dolcelatte melted cheese cheese triangles jarlsberg fromage lancashire smelly cheese. Cauliflower cheese fromage manchego squirty cheese cut the cheese queso monterey jack rubber cheese. Parmesan babybel cheesy grin danish fontina.</p>
		<p>Goat babybel cheesy grin. Bavarian bergkase manchego stinking bishop macaroni cheese cheese strings cheese on toast cow cheddar. Smelly cheese mascarpone mascarpone parmesan cheesy feet dolcelatte boursin feta. Cheesecake say cheese caerphilly when the cheese comes out everybody's happy parmesan fondue babybel bocconcini. Camembert de normandie who moved my cheese parmesan. </p>

		<p>Airedale cottage cheese chalk and cheese. Cut the cheese say cheese cottage cheese cream cheese caerphilly squirty cheese airedale cheese triangles. Roquefort cut the cheese boursin cheese slices parmesan cauliflower cheese pecorino stilton. Croque monsieur mozzarella fondue lancashire cheese slices chalk and cheese.</p>
		<script type="text/javascript" src="<%= env === 'development' ? '/scripts/bundle.js' : '/scripts/bundle.min.js?'+version %>"></script>
	</body>
</html>
